#logo{
    width: 50%;
    padding: 10px;
}
#logo:hover{
    width: 60%;
}
.container{
    margin-bottom: 100px;
}

.small-margin{
    margin-bottom: 10px;
}


.navbar{
    height: 80px;
    border-radius: 15px;
    background-color: rgba(184, 178, 178, 0.521);
    border: lightblue 1px solid;
    margin: 0% 10% ;
}

.nav-item{
    padding-left: 7px;
    padding-right: 7px;
    font-family: 'Roboto Condensed';
    font-size: 14px;
    font-weight: 400;
}

.carousel-item{
    padding: 20px 40px;
}

.bg-color-1{
    background-color: lightcyan;
    border-radius: 15px;
}
.bg-color-2{
    background-color: rgba(255, 191, 182, 0.712);
    border-radius: 15px;
}
.bg-color-3{
    background-color: rgba(50, 205, 50, 0.568);
    border-radius: 15px;
}

.simple-padding-1{
    padding-left: 10%;
}
.simple-padding-2{
    padding-right: 10%;
}

.carousel-control-prev-icon{
    background-color: black;
    border-radius: 10px;
}
.carousel-control-next-icon{
    background-color: black;
    border-radius: 10px;
}
.margin-left{
    margin-left: auto !important;
}
.nav-item:hover{
    padding-top: 10px;
}

.carousel-indicators li{
    background-color: gray;
    height: 7px;
    width: 12px;
    border-radius: 100px;
}
.carousel-indicators .active{
    background-image: linear-gradient(to left,rgba(255, 177, 93, 0.932) 0%,#FF9C35 100%);
    width: 30px;
    }

.see-all{
    margin-left: auto !important;
}
.see-all a{
    color: orange;
}
.card-img-top{
    padding: 10%;
}
.card{
    border-radius: 20px 0px;
    border: none;
    box-shadow: 10px 10px 40px gray;
}
.card-footer{
    background-color: white;
    border: none;
    border-radius: 20px;
}
.btn-dark{
    border-radius: 20px;
}




.categories-section{
    margin: 5%;
}
.category-border{
    border-style: solid;
    border-width: 0 0 5px 0;
    padding-bottom:5px;
    margin-bottom:20px;
    width:10%;
    margin: auto;
    border-image: linear-gradient(45deg, rgb(255, 125, 3), rgb(250,224,66)) 1;
    margin-bottom: 5%;
}
.category-beauty {
    margin-bottom: 40px;
}
.category-beauty .beauty-p {
    padding-top: 10%;
}
.category-bag h4{
    margin-top: 20px;
}




.bg{
    background-color: cyan;
    border-radius: 30px;
    padding: 30px;
}

footer{
    text-align: center;
}

.ctg{
    margin-bottom: 20px;
}

.btn-dark:hover{
    background-color: white ;
    border: tomato 2px solid;
    color: black;
}